*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 280px) {
  .newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .newsletter .newsletter-body {
    min-height: 100vh;
  }
  .newsletter .newsletter-body .newsletter-image-area-medium {
    display: none;
  }
  .newsletter .newsletter-body .newsletter-image-area {
    border-bottom-left-radius: 1.6em;
    border-bottom-right-radius: 1.6em;
    width: 100%;
  }
  .newsletter .newsletter-body .newsletter-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 1.5em;
    margin: 6.5em 0 3.5em 0;
    height: 100%;
  }
  .newsletter .newsletter-body .newsletter-description .newsletter-description-heading__header {
    font-size: 4rem;
    color: #36384e;
  }
  .newsletter .newsletter-body .newsletter-description .newsletter-description-heading__info {
    font-size: 1.6rem;
    padding: 0.5em 0;
    margin: 1em 0;
  }
  .newsletter .newsletter-body .newsletter-description .offers-area {
    margin: 1em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
  }
  .newsletter .newsletter-body .newsletter-description .offers-area__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0.5em 0;
    padding: 0.5em 0;
    line-height: 150%;
    font-size: 1.4rem;
    font-weight: 700;
    color: #36384e;
  }
  .newsletter .newsletter-body .newsletter-description .offers-area__info--svg {
    width: 1.6em;
    height: 1.6em;
    margin-right: 1em;
  }
  .newsletter .newsletter-body .newsletter-description .interactive-area .label-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1em;
  }
  .newsletter .newsletter-body .newsletter-description .interactive-area .label-area__e-mail {
    font-weight: 700;
    font-size: 1.2rem;
    color: #36384e;
  }
  .newsletter .newsletter-body .newsletter-description .interactive-area .label-area__requierd {
    visibility: hidden;
    color: #ff6257;
    font-weight: 700;
    font-size: 1.2rem;
  }
  .newsletter .newsletter-body .newsletter-description .interactive-area .verification-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .newsletter .newsletter-body .newsletter-description .interactive-area .verification-area__input, .newsletter .newsletter-body .newsletter-description .interactive-area .verification-area__cta {
    width: 100%;
    padding: 1.4em;
    border-radius: 8px;
  }
  .newsletter .newsletter-body .newsletter-description .interactive-area .verification-area__input::-webkit-input-placeholder, .newsletter .newsletter-body .newsletter-description .interactive-area .verification-area__cta::-webkit-input-placeholder {
    font-size: 1.3rem;
  }
  .newsletter .newsletter-body .newsletter-description .interactive-area .verification-area__input:-ms-input-placeholder, .newsletter .newsletter-body .newsletter-description .interactive-area .verification-area__cta:-ms-input-placeholder {
    font-size: 1.3rem;
  }
  .newsletter .newsletter-body .newsletter-description .interactive-area .verification-area__input::-ms-input-placeholder, .newsletter .newsletter-body .newsletter-description .interactive-area .verification-area__cta::-ms-input-placeholder {
    font-size: 1.3rem;
  }
  .newsletter .newsletter-body .newsletter-description .interactive-area .verification-area__input::placeholder, .newsletter .newsletter-body .newsletter-description .interactive-area .verification-area__cta::placeholder {
    font-size: 1.3rem;
  }
  .newsletter .newsletter-body .newsletter-description .interactive-area .verification-area__cta {
    margin-top: 1.5em;
    border: none;
    background-color: #242742;
    color: white;
    font-weight: 700;
    cursor: pointer;
  }
  .newsletter .newsletter-succes {
    display: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
  }
  .newsletter .newsletter-succes .newsletter-succes-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80vh;
    padding: 0 2.25em;
  }
  .newsletter .newsletter-succes .newsletter-succes-body .newsletter-about__header {
    font-size: 4rem;
    font-weight: 700;
    color: #36384e;
    margin: 1em 0;
  }
  .newsletter .newsletter-succes .newsletter-succes-body .newsletter-about__info {
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 400;
    color: #36384e;
  }
  .newsletter .newsletter-succes .newsletter-succes-body .newsletter-about__info--email {
    font-weight: 700;
  }
  .newsletter .newsletter-succes .newsletter-succes-body__cta {
    padding: 1em 2em;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 2em 0;
    border-radius: 0.4em;
    background-color: #36384e;
    color: white;
  }
}

@media (min-width: 475px) {
  .newsletter-body .newsletter-description .newsletter-description-heading__header {
    font-size: 4.5rem;
  }
}

@media (min-width: 768px) {
  .newsletter {
    min-height: 100vh;
    background-color: #36384e;
  }
  .newsletter .newsletter-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 15% 70% 15%;
        grid-template-rows: 15% 70% 15%;
    max-width: 768px;
    margin: 0 auto;
  }
  .newsletter .newsletter-body .newsletter-image-area {
    display: none;
  }
  .newsletter .newsletter-body .newsletter-image-area-medium {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    border-bottom-right-radius: 3em;
    border-top-right-radius: 3em;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .newsletter .newsletter-body .newsletter-image-area-medium__img {
    width: 100%;
    height: 535px;
    margin-right: 2em;
  }
  .newsletter .newsletter-body .newsletter-description {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin: 0;
    padding: 7em 4em;
    background-color: white;
    border-bottom-left-radius: 3em;
    border-top-left-radius: 3em;
  }
  .newsletter .newsletter-body .newsletter-description .newsletter-description-heading__info {
    margin: 0.2em 0;
    line-height: 150%;
  }
  .newsletter .newsletter-body .newsletter-description .offers-area {
    margin: 0;
  }
  .newsletter .newsletter-body .newsletter-description .offers-area__info {
    margin: 0.1em 0;
    padding: .5em 0;
  }
  .newsletter .newsletter-succes {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 450px;
    margin: 0 auto;
  }
  .newsletter .newsletter-succes .newsletter-succes-body {
    background-color: white;
    height: 50%;
    border-radius: 3.2rem;
    padding: 4.75em;
  }
  .newsletter .newsletter-succes .newsletter-succes-body .newsletter-about__info {
    font-size: 1.5rem;
    margin-right: 1em;
  }
}
/*# sourceMappingURL=style.css.map */