*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 280px) {
  .newsletter-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 30% 70%;
        grid-template-rows: 30% 70%;
    min-height: 100vh;
    width: 100%;
  }
  .newsletter-body .newsletter-image-area {
    background-image: url(../images/illustration-sign-up-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 1.6em;
    border-bottom-right-radius: 1.6em;
  }
  .newsletter-body .newsletter-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3em 1.5em;
  }
  .newsletter-body .newsletter-description .newsletter-description-heading__header {
    font-size: 4rem;
    color: #36384e;
  }
  .newsletter-body .newsletter-description .newsletter-description-heading__info {
    font-size: 1.6rem;
    padding: .5em 0;
    margin: 1em 0;
  }
  .newsletter-body .newsletter-description .offers-area {
    margin: 1em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
  }
  .newsletter-body .newsletter-description .offers-area__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0.5em 0;
    padding: 0.5em 0;
    line-height: 150%;
    font-size: 1.4rem;
    font-weight: 700;
    color: #36384e;
  }
  .newsletter-body .newsletter-description .offers-area__info--svg {
    width: 1.6em;
    height: 1.6em;
    margin-right: 1em;
  }
  .newsletter-body .newsletter-description .interactive-area .label-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1em;
  }
  .newsletter-body .newsletter-description .interactive-area .label-area__e-mail {
    font-weight: 700;
    font-size: 1.2rem;
    color: #36384e;
  }
  .newsletter-body .newsletter-description .interactive-area .label-area__requierd {
    visibility: hidden;
  }
  .newsletter-body .newsletter-description .interactive-area .verification-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .newsletter-body .newsletter-description .interactive-area .verification-area__input, .newsletter-body .newsletter-description .interactive-area .verification-area__cta {
    width: 100%;
    padding: 1.4em;
    border-radius: 8px;
  }
  .newsletter-body .newsletter-description .interactive-area .verification-area__input::-webkit-input-placeholder, .newsletter-body .newsletter-description .interactive-area .verification-area__cta::-webkit-input-placeholder {
    font-size: 1.3rem;
  }
  .newsletter-body .newsletter-description .interactive-area .verification-area__input:-ms-input-placeholder, .newsletter-body .newsletter-description .interactive-area .verification-area__cta:-ms-input-placeholder {
    font-size: 1.3rem;
  }
  .newsletter-body .newsletter-description .interactive-area .verification-area__input::-ms-input-placeholder, .newsletter-body .newsletter-description .interactive-area .verification-area__cta::-ms-input-placeholder {
    font-size: 1.3rem;
  }
  .newsletter-body .newsletter-description .interactive-area .verification-area__input::placeholder, .newsletter-body .newsletter-description .interactive-area .verification-area__cta::placeholder {
    font-size: 1.3rem;
  }
  .newsletter-body .newsletter-description .interactive-area .verification-area__cta {
    margin-top: 1.5em;
    border: none;
    background-color: #242742;
    color: white;
    font-weight: 700;
    letter-spacing: 0.03em;
    cursor: pointer;
  }
}

@media (min-width: 375px) {
  .newsletter-body {
    -ms-grid-rows: 40% 60%;
        grid-template-rows: 40% 60%;
  }
  .newsletter-body .newsletter-description .offers-area__info {
    font-size: 1.6rem;
  }
}

@media (min-width: 475px) {
  .newsletter-body .newsletter-image-area {
    height: 350px;
  }
  .newsletter-body .newsletter-description {
    height: 600px;
  }
  .newsletter-body .newsletter-description .newsletter-description-heading__header {
    font-size: 4.5rem;
  }
}
/*# sourceMappingURL=style.css.map */