@media (min-width: 280px) {
  .newsletter-body {
    display: flex;
    justify-content: space-between;
    
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    .newsletter-image-area {
      border-bottom-left-radius: 1.6em;
      border-bottom-right-radius: 1.6em;
      width: 100%;
    }
    .newsletter-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 1.5em;
      margin: 6.5em 0;
      height: 100%;
      
      .newsletter-description-heading{
      &__header {
        font-size: 4rem;
        color: $Charcoal-Grey;
      }
      &__info {
        font-size: 1.6rem;
        padding: .5em 0;
        margin: 1em 0;
      }
    }
      .offers-area {
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style-type: none;
        &__info {
          display: flex;
          margin: 0.5em 0;
          padding: 0.5em 0;
          line-height: 150%;
          font-size: 1.4rem;
          font-weight: $bold;
          color: $Charcoal-Grey;
          &--svg {
            width: 1.6em;
            height: 1.6em;
            margin-right: 1em;
          }
        }
      }
      .interactive-area {
        .label-area {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1em;
          &__e-mail {
            font-weight: $bold;
            font-size: 1.2rem;
            color: $Charcoal-Grey;
          }
          &__requierd {
            visibility: hidden;
          }
        }
        .verification-area {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          &__input, &__cta{
            width: 100%;
            padding: 1.4em;
            border-radius: 8px;
            &::placeholder {
              font-size: 1.3rem;
            }
          }
          &__cta {
            margin-top: 1.5em;
            border: none;
            background-color: $Dark-Slate-Grey;
            color: $White;
            font-weight: $bold;
            
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media(min-width: 475px){
  .newsletter-body{
    .newsletter-description{
      .newsletter-description-heading{
        &__header{
          font-size: 4.5rem;
        }
      }
    }
  }
}