@media (min-width: 280px){
  .newsletter-body {
    display: grid;
    grid-template-rows: 30% 70%;
    height: 100vh;
    width: 100%;
    .newsletter-image-area {
      background-image: url(../images/illustration-sign-up-mobile.svg);
      background-repeat: no-repeat;
      background-size: cover;
      border-bottom-left-radius: 1.6em;
      border-bottom-right-radius: 1.6em;
    }
    .newsletter-description{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 3em 1.5em;
      &__header{
        font-size: 4.5rem;
        color: $Charcoal-Grey;
      }
      &__info{
        font-size: 1.6rem;
      }
      .offers-area{
        margin: 3em 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style-type: none;
        &__info{
          display: flex;
          
          margin: .5em 0;
          padding: .5em 0;
          line-height: 150%;
          font-size: 1.4rem;
          font-weight: $bold;
          color: $Charcoal-Grey;
          &--svg{
            width: 1.6em;
            height: 1.6em;
            margin-right: 1em;
          }
        }
      }
      .interactive-area{
        .label-area{
          display: flex;
          justify-content: space-between;
          margin-bottom: 1em;
          &__requierd{
            visibility: hidden;
          }
        }
      }
    }
  }
}

