@media (min-width: 768px) {
   
  .newsletter-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10% 80% 10%;
    background-color: $Charcoal-Grey;
    max-width: 930px;
    width: 100%;
    .newsletter-image-area {
      display: none;
    }
    .newsletter-image-area-medium {
      display: block;
      grid-column: 2/3;
      grid-row: 2/3;
      position: relative;
      border-bottom-right-radius: 3em;
      border-top-right-radius: 3em;
      background-color: $White;
      display: flex;
      justify-content: center;
      align-items: center;
      &__img{
        width: 90%;
      }
    }
    .newsletter-description {
      grid-column: 1/2;
      grid-row: 2/3;
      margin: 0;
      padding: 7em 2.5em;
      background-color: $White;
      border-bottom-left-radius: 3em;
      border-top-left-radius: 3em;
      .newsletter-description-heading {
        &__info {
          margin: 0.5em 0;
          line-height: 150%;
        }
      }
      .offers-area {
        margin: 0;
        &__info {
          margin: 0.2em 0;
        }
      }
    }
  }
}
