@media (min-width: 768px) {
   .newsletter{
    min-height: 100vh;
    background-color: $Charcoal-Grey;
  .newsletter-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 15% 70% 15%;
    max-width: 768px;
    margin: 0 auto;
    .newsletter-image-area {
      display: none;
    }
    .newsletter-image-area-medium {
      display: block;
      grid-column: 2/3;
      grid-row: 2/3;
      
      border-bottom-right-radius: 3em;
      border-top-right-radius: 3em;
      background-color: $White;
      display: flex;
      
      &__img{
        width: 100%;
        height: 535px;
        margin: 2.5em 2em 2.5em 0;
        
      }
    }
    .newsletter-description {
      grid-column: 1/2;
      grid-row: 2/3;
      margin: 0;
      padding: 7em 4em;
      background-color: $White;
      border-bottom-left-radius: 3em;
      border-top-left-radius: 3em;
      .newsletter-description-heading {
        &__info {
          margin: 0.2em 0;
          line-height: 150%;
        }
      }
      .offers-area {
        margin: 0;
        &__info {
          margin: 0.1em 0;
          padding: .5em 0;
        }
      }
    }
  }
}
}