@import './fonts';
@import './colors';
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
    font-size: 62.5%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  
}

@import './mobile';
@import './tablet';
@import './desktop';